<h2 id="title">A Super Sick App</h2>
<p>Even Sicker body.</p>
{{#media-previewer
  dismiss-text="Done"
  caption="Odd Future tofu DIY, Williamsburg sustainable tilde raw denim gastropub brunch fashion axe viral paleo."
}}
  <img src="http://i.giphy.com/pCO5tKdP22RC8.gif" alt="" />
{{/media-previewer}}

{{outlet}}
